p {
	color: blue;
}

.jk-menu-item {
	background-color: #FF69B4;
}

.jk-title-location {
	color: #FF69B4;
}

.jk-central::after {
	content: '';
	height: 10.864283235vw;
	width: 100%;
	display: block;
   background-image:url('https://domdak.github.io/jk25/JK_Footer.gif');
	  background-size: cover;
	background-repeat: no-repeat;
}

.jk-menu-item.active {
	font-size: 150%;
}

.jk-menu .active .jk-menu-link {
	color: White;
	font-family: 'Wingdings'
}

[href*='458'],[href*='459'] {
	font-size: 150%;
	font-weight: bold;
	color: White;
}

li {
	float: left;
}

.col-lg-4, .col-lg-8 {
	    flex: 0 0 100%;
    max-width: 100%;
}

.jk-nav-col {
	order: 0;
}

.mb-4, .my-4 {
    margin-bottom: 0rem !important;
	margin-top: 0rem !important;
}

.jk-main {
	margin-top: 1.5em;
}

.jk-menu-item {
	margin: 0;
}



:root{
    --overlay-color-1: #ff0000;
    --overlay-color-2: #0000ff;
    --anim-duration: 2s;
}

li.jk-menu-item.active {
    opacity: 0.8;
    background: none;
}

li.jk-menu-item.active:after,
li.jk-menu-item.active:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

li.jk-menu-item.active:before {
    background: linear-gradient(135deg, var(--overlay-color-2) 0%, var(--overlay-color-1) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
}

li.jk-menu-item.active:after {
    background: linear-gradient(135deg, var(--overlay-color-1) 0%, var(--overlay-color-2) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
}

@keyframes OpacityAnim {
    0%{opacity: 1.0}
    100%{opacity: 0.0}
}
