p {
	color: blue;
	margin-left: 100px;
}

.jk-menu-item {
	background-color: #FF69B4;
}

.jk-title-location {
	color: #FF69B4;
}

a.glossary::after {
  content: " " url("https://cdn.iconscout.com/icon/premium/png-256-thumb/dictionary-1876901-1589686.png");
}

footer {
	content: " " url("https://www.southyorkshireorienteers.org.uk/media/templates/site/syo/images/SYO_Footer_Silhouette.gif");
}
