p {
	
}

.mb-1 > .row {
    width: 100%;
    flex-direction: row-reverse;
	margin-left: 0px;
}

.jk-main > .row {
}

.jk-header-container {
	padding-right: 0px;
	padding-left: 0px;
	max-width: 100%;
}

.jk-top {
	border-radius: 0rem 0rem 3rem 3rem ;
	background-image:url('https://domdak.github.io/jk25/Panorama.jpg');
	height: 35vw;
}

.d-flex {
	justify-content: center;
	top: -2vw;
}

.col-auto {
	width: 100%;
	margin-left: 15px;
}

@media (min-width: 992px) {
	.jk-top {
	max-height: 300px;
	}
}

.jk-site-title {
    position: absolute;
    left: 0rem !important;
    bottom: 1rem;
    right: 0rem !important;
    text-shadow: 2px 2px 5px black;
	text-align: center;	
	width: 100%;
}

.jk-site-title1 {
	font-size: 1.9rem;
	line-height: 2.3rem;
}

.jk-site-title1::after {
	content: " International Festival of Orienteering";
}

.jk-site-title2, .jk-site-title3, .jk-title-dates {
	content-visibility: hidden ;
}

.jk-title-location {
	display: inline-flex;
}

.jk-title-location::after {
	content: " • 18th - 21st April 2025";
}

@media (max-width: 992px) {
    .jk-site-title1 {
        font-size: 3.8vw !important;
		line-height: 0 !important;
		top: 25vw !important;
	}
	.jk-site-title {
		bottom: 7.5vw !important;
	}
	.col.pt-2 {
		font-size: 3.0vw !important;
	}
	.jk-top {
		border-radius: 0rem 0rem 2rem 2rem;
		max-height: 350px;
	}
	.jk-logo {
		top: 1.5vw;
		height: 22.5vw !important;
		max-height: 300px;
	}
}

@media (max-width: 400px) {
	.jk-top {
	border-radius: 0rem 0rem 1.5rem 1.5rem ;
	}
}

.mr-2 {
	margin-right: 0 !important;
}

.mt-3 {
	margin-top: 0rem !important;
}

.mt-4 {
	margin-top: 0 !important;
}

@media (min-width: 992px) {
	.mt-4 {
		margin-top: 0.5rem !important;
	}
}

.jk-logo {
	background-image:url('https://domdak.github.io/jk25/JK25_Border.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	right: 0;
	height: 200px;
	display: block;
	background-position: center;
}

@media screen and (max-width: 992px) {
	.jk-logo {max-height: 100%;}
	
}

.col.pt-2 {
    top: -5.5vw;
    text-align: center;
	flex: none;
	color: #fff200;
	text-shadow: 2px 2px 5px black;
	font-weight: bold;
	padding-top: 0 !important;
	margin-left: 15px;
}

.d-inline-block.mr-2::after {
	content: " • 18th - 21st April 2025";
}

.jk-sm-dates {
	background-color: transparent; 
	padding: 0;
}

.jk-menu {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jk-menu-item {
	background-color: #52afe6;
	float: left;
	min-width: 8em;
	text-align: center;
	margin: 0;
	margin-left: .35em !important;
	margin-right: .35em !important;
	margin-bottom: .7em !important;
	padding-top: 0.4rem;
  	transition: box-shadow .15s ease-in-out;
	border-radius: 2em;
	box-shadow: rgba(0, 0, 0, 0.15) 0.15em .15em 0.2em;
}

.jk-menu-link {
	color: white !important;
}

.jk-menu-item:hover {
  	box-shadow: inset 0 -3em 0 0px #fff200, rgba(0, 0, 0, 0.15) 0.15em .15em 0.2em;
}

.jk-menu-link:hover {
	color: black !important;
}

.jk-title-location, .jk-title-dates {
	color: #fff200;
}

.jk-sm-date {
	content-visibility: hidden;
}

.jk-central::after {
	content: '';
	height: 10.864283235vw;
	width: 100%;
	display: block;
	background-image:url('https://domdak.github.io/jk25/Skyline.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 2rem;
}

.jk-menu-item.active {
	font-weight: bold;
	background-color: #fff200;
}

.jk-menu .active .jk-menu-link {
	color: Black !important;
}

[href*='458'],[href*='459'] {
	font-weight: bold;
	color: White;
}

.col-lg-4, .col-lg-8 {
	flex: 0 0 100%;
    max-width: 100%;
}

.col-lg-4.original {
	flex: 0 0 33.333333%;
	padding-top: 1.5em;
}

.col-lg-8.original {
	flex: 0 0 66.666667%;
}

@media screen and (max-width: 992px) {
    .row.original { display: flex; flex-flow: column; }
    .col-lg-4.original { order: 0; }
	.col-lg-8.original { order: 1; }
	.officials {width:100%}
}

.jk-nav-col {
	order: 0;
}

@media screen and (min-width: 992px) {
	.jk-nav-col {
		margin-bottom: 1rem;
	}
}

.mb-4, .my-4 {
    margin-bottom: 0rem !important;
	margin-top: 0rem !important;
}

.jk-main {
	margin-top: 1em;
}

.officials {
	padding: 1em 2.5em 0.1em 1em;
	display: inline-block;
	line-height: 1em;
	margin-bottom: 2em;
}

.officials.grey {
	background-color: #fafafa;
	box-shadow: 2px 2px 2px 0 #ccc;
}

.officials.blue {
	background-color: #ecf8ff;
    box-shadow: 2px 2px 2px 0 #4a95c0;
}

.officials.yellow {
	background-color: #fffdd9;
    box-shadow: 2px 2px 2px 0 #d7cc03;;
}

.map-name {
	padding: 1em 1em 1em;
}

@media screen and (min-width: 992px) {
	.map-name {
		padding-top: 0;
	}
}

@media screen and (max-width: 992px) {
	.center {
		text-align: center;
	}
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(82,175,230,255)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>")
}

.navbar-toggler {
    border: 1.5px solid rgba(82, 175, 230, .5);
	font-size: 2.5vw;
}

/* TABLE */

.jk-table {
    border-spacing: 0;
    font-size: 0.8em;
    min-width: 50%;
    margin-bottom: 1.3em;
}
.jk-table tr {
    box-shadow: 0.3em 0.4em 4px rgba(0, 0, 0, 0.15);
}

.jk-table thead tr {
	font-weight: bold;
    color: #ffffff;
    text-align: left;
	background-color: #52afe6;
}

.jk-table thead :first-child {
	border-top-left-radius: .8em;
}

.jk-table thead :last-child {
	border-top-right-radius: .8em;
}

.jk-table th,
.jk-table td {
    padding: 0.25rem 0.5rem
}

.jk-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.jk-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.jk-table tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.jk-table tbody tr:last-of-type {
    border-bottom: 2px solid #52afe6;
}

.jk-table tbody tr:hover {
    color: #4a95c0;
	text-shadow: #2d5b7578 0 0 2em;
}

.jk-table td {
	min-width: 5em;
}